<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>



<h1>><font>Contact Page by Wise</font>
</center></h1>



<table border=0 width="90%" align="center" cellpadding=20>
	<tr bgcolor="#2471A3">
		<td colspan="2" align="center"><h1>???????????????????????????????????</h1></td>
	</tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>
	<tr></tr>

	<tr bgcolor="#2471A3">
		<td colspan=3 align="center">
		<a href="Default.html">HOME</a>&nbsp; &nbsp;| &nbsp; &nbsp;
		<a href="Education.html">EDUCATION</a>&nbsp; &nbsp;| &nbsp; &nbsp;
		<a href="Experience.html">EXPERIENCE</a>&nbsp; &nbsp;| &nbsp; &nbsp;
		<a href="Contact.html">CONTACT</a>&nbsp; &nbsp;| &nbsp; &nbsp;
		<input type="button" value="BACK" onClick="history.go(-1)">
		</td>
	</tr>
	
</table>